My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Trigger",
        "formFields": {
          "values": [
            {
              "fieldLabel": "test_pdf",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "answer_key_pdf",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "grading_mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "exact"
                  },
                  {
                    "option": "lenient"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -160,
        -16
      ],
      "id": "a986ab17-12d9-4dde-99cb-e35ddbc231b0",
      "name": "On form submission",
      "webhookId": "9cdc33a5-f00f-4927-bd2d-7f7e2c3f81b1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "test_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        32,
        -192
      ],
      "id": "bffb53c6-3c3e-4daa-9c0f-0dcfa86a3f1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "answer_key_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        32,
        176
      ],
      "id": "0cb5423e-be54-45cf-8d96-e4cb5220779b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "// ---------- HELPERS ----------\nfunction normalizeText(t) {\n  if (!t) return \"\";\n  return String(t)\n    .replace(/\\r?\\n|\\r/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\nfunction extractQuestions(text) {\n  if (!text) return [];\n\n  const regex = /(?:Resposta\\s*(\\d+)\\s*:|(?:Q|Questão)?\\s*(\\d+)[\\.\\-\\):])/gi;\n  const matches = [...text.matchAll(regex)];\n\n  if (matches.length === 0) {\n    const fallbackRegex = /(\\d+)\\.\\s*/g;\n    const fmatches = [...text.matchAll(fallbackRegex)];\n    if (fmatches.length) {\n      return fmatches.map((m, i) => {\n        const id = m[1];\n        const start = m.index + m[0].length;\n        const end = i + 1 < fmatches.length ? fmatches[i + 1].index : text.length;\n        const content = normalizeText(text.slice(start, end));\n        return { id, content };\n      });\n    }\n    return [];\n  }\n\n  return matches.map((m, i) => {\n    const id = m[1] || m[2];\n    const start = m.index + m[0].length;\n    const end = i + 1 < matches.length ? matches[i + 1].index : text.length;\n    const content = normalizeText(text.slice(start, end));\n    return { id, content };\n  });\n}\n\n// ---------- PROCESSAMENTO ----------\nlet rawTestText = \"\";\nlet rawAnswerKeyText = \"\";\nlet gradingMode = \"lenient\"; // fallback\n\nfor (const it of $input.all()) {\n  \n  // 1) Captura grading_mode corretamente\n  if (it.grading_mode) {\n    gradingMode = it.grading_mode;\n  }\n  if (it.json?.grading_mode) {\n    gradingMode = it.json.grading_mode;\n  }\n\n  // 2) Captura textos dos PDFs analisados\n  const keys = it.binary ? Object.keys(it.binary) : [];\n\n  // Gabarito (test_pdf)\n  if (keys.includes(\"test_pdf\")) {\n    rawAnswerKeyText = normalizeText(it.text || it.json?.text || \"\");\n  }\n\n  // Prova do aluno (answer_key_pdf)\n  if (keys.includes(\"answer_key_pdf\")) {\n    rawTestText = normalizeText(it.text || it.json?.text || \"\");\n  }\n}\n\n// ---------- EXTRAÇÃO ----------\nconst studentResponses = extractQuestions(rawTestText);\nconst expectedAnswers = extractQuestions(rawAnswerKeyText);\n\n// ---------- Montagem final ----------\nreturn [\n  {\n    json: {\n      questions: studentResponses.map(r => ({\n        id: r.id,\n        prompt: `Questão ${r.id}:`,\n        student_answer: r.content\n      })),\n      answer_key: expectedAnswers.map(a => ({\n        id: a.id,\n        expected: a.content\n      })),\n      grading_mode: gradingMode\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -16
      ],
      "id": "8cf88aec-bc17-4b6e-a8ba-4f1501c53164",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Questions: {{JSON.stringify($json.questions)}}  Answer key: {{JSON.stringify($json.answer_key)}}  Grading mode: {{ $json.grading_mode }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert evaluator of academic responses in Systems Engineering.\n\nYour task is to evaluate each student answer by comparing it to the expected answer from the answer key.\n\nFollow ALL rules below exactly.\n\n=====================================================\nGRADING MODES\n=====================================================\n\n1. EXACT (strict, binary)\n- The answer must match the expected conceptual meaning very closely.\n- Penalize any omission, simplification, or conceptual deviation.\n- Small wording changes are acceptable; conceptual differences are not.\n- IMPORTANT: In EXACT mode, the score must be ONLY:\n    - 1.0 (correct)\n    - 0.0 (incorrect)\n  No intermediate values are allowed in EXACT mode.\n\n2. LENIENT (semantic / flexible)\n- Evaluate based on the overall semantic meaning.\n- Accept simplified but correct answers.\n- Penalize only major omissions or conceptual errors.\n- Scores may use the full scoring scale.\n\n=====================================================\nSCORING SCALE (required)\n=====================================================\n\nAllowed scores:\n\n1.00 = fully correct  \n0.75 = mostly correct (small omissions)  \n0.50 = partially correct  \n0.25 = minimally relevant  \n0.00 = incorrect or missing\n\nNOTE:\n- In EXACT mode → ONLY 1.00 or 0.00 allowed.\n- In LENIENT mode → all the above are allowed.\n\n=====================================================\nEVALUATION RULES\n=====================================================\n\nFor EACH question:\n- Compare semantic meaning between student answer and expected answer.\n- Identify correct points, omissions, and errors.\n- Choose the allowed score based on the grading mode.\n- Provide short, objective, specific feedback, translated in portuguese.\n\n=====================================================\nOUTPUT FORMAT (STRICT JSON ONLY)\n=====================================================\n\nReturn ONLY this JSON:\n\n{\n  \"grade_per_question\": {\n    \"1\": number,\n    \"2\": number,\n    ...\n  },\n  \"comments\": {\n    \"1\": \"feedback\",\n    \"2\": \"feedback\",\n    ...\n  },\n  \"final_grade\": number\n}\n\nWhere:\nfinal_grade = (sum(scores) / total_questions) * 10\n\n=====================================================\nINPUT DATA\n=====================================================\n\nSTUDENT_ANSWERS:\n{{JSON.stringify($json.questions)}}\n\nANSWER_KEY:\n{{JSON.stringify($json.answer_key)}}\n\nGRADING_MODE:\n{{ $json.grading_mode }}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        800,
        -32
      ],
      "id": "c703b9cd-4279-4f2b-a404-d433171de729",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        160
      ],
      "id": "6bf98e32-8f2e-4dbf-92f6-8746c97c470e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qPSHRy8PVE6gYz37",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<h2>Resultado da Correção</h2>\n\n<table border=\"1\" cellpadding=\"6\" style=\"border-collapse: collapse; width: 100%;\">\n  <tr>\n    <th>ID</th>\n    <th>Score</th>\n    <th>Feedback</th>\n  </tr>\n\n  {{\n    (function(){\n      try {\n        // Tentativa 1: payload direto\n        var payload = $json || {};\n\n        // Se LLM devolveu tudo dentro de text (string JSON), parseia\n        if (payload && typeof payload.text === 'string') {\n          try {\n            var maybe = JSON.parse(payload.text);\n            // se parse deu certo e tem campos, usa esse objeto\n            if (maybe && (maybe.grade_per_question || maybe.final_grade || maybe.comments)) {\n              payload = maybe;\n            }\n          } catch(e) {\n            // se parse falhar, continua com payload original\n          }\n        }\n\n        var grades = payload.grade_per_question || {};\n        var comments = payload.comments || {};\n\n        // Gera as linhas da tabela\n        return Object.keys(grades).map(function(id){\n          var score = grades[id];\n          var fb = comments[id] || \"\";\n          return '<tr>' +\n                   '<td>' + id + '</td>' +\n                   '<td>' + (typeof score !== \"undefined\" ? score : \"\") + '</td>' +\n                   '<td>' + fb + '</td>' +\n                 '</tr>';\n        }).join(\"\");\n      } catch (err) {\n        return \"\";\n      }\n    })()\n  }}\n</table>\n\n<h3 style=\"margin-top: 20px;\">\n  Nota Final: <strong>{{ \n    (function(){\n      try {\n        var payload = $json || {};\n        if (payload && typeof payload.text === 'string') {\n          try {\n            var maybe = JSON.parse(payload.text);\n            if (maybe && (typeof maybe.final_grade !== 'undefined' || typeof maybe.finalGrade !== 'undefined' || typeof maybe.total_score !== 'undefined')) {\n              payload = maybe;\n            }\n          } catch(e){}\n        }\n        // tenta vários nomes comuns\n        return (typeof payload.final_grade !== 'undefined') ? payload.final_grade\n             : (typeof payload.finalGrade !== 'undefined') ? payload.finalGrade\n             : (typeof payload.total_score !== 'undefined') ? payload.total_score\n             : \"\";\n      } catch(e){ return \"\"; }\n    })()\n  }}</strong>\n</h3>\n"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1120,
        208
      ],
      "id": "c05d2e2d-0a99-494e-b49a-a3cdde6c0dcb",
      "name": "Form",
      "webhookId": "ca8548b7-0b06-4568-87b1-a3495ce32c3a"
    },
    {
      "parameters": {
        "jsCode": "// Se a LLM retornar algo como { text: \"{...json...}\" }\n// esta linha extrai o texto bruto:\nconst raw = $json.text || \"\";\n\n// Se não vier string, significa que a LLM já retornou JSON direto\nlet output;\n\nif (typeof raw === \"string\" && raw.trim().startsWith(\"{\")) {\n  // A LLM retornou o JSON como string\n  try {\n    output = JSON.parse(raw);\n  } catch (e) {\n    output = { error: \"JSON inválido vindo da LLM\", raw };\n  }\n} else {\n  // A LLM retornou JSON nativo\n  output = $json;\n}\n\nreturn [{ json: output }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -32
      ],
      "id": "8fcdd7fb-7633-4e22-8335-0c182f143823",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        -32
      ],
      "id": "72cf1697-67ba-4b0e-9745-a5ca558a2b6a",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d69a4d7e-cb82-4976-9834-6cc568ada45f",
              "name": "grading_mode",
              "value": "={{ $json.grading_mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -16
      ],
      "id": "c8db5ffa-7a4b-4574-810f-4da0d73659b3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a53107f-ef32-481c-9617-2a649a51ee7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f79eeb05265d23ce2d0bcc99877e197e8ff88b0ff472a352fc96ab87c2b9a1c"
  },
  "id": "QrwLZOvkOa5y4Uc2",
  "tags": []
}